{% extends 'base.html' %}
{% load static %}
{% block title %}
		Locations
{% endblock %}
{% block content %}
<main class="container my-4">
	<link rel="stylesheet" type="text/css" href="{% static 'cards.css' %}" />
	<!-- Featured Products -->
	<h3 class="my-4 border-bottom pb-1">Locations</h3>
	<div class="row">
		{% if data %}
			{% for location in data %}
			<!-- <div class="col-md-3 mb-4">
				<div class="card shadow">
					<a href="/location-event-list/{{location.id}}"><img src="/media/{{location.image}}" class="card-img-top" alt="{{location.title}}" /></a>
				<div class="card-body">
					<h6 class="card-text"><a href="#">{{location.title}}</a></h6>
				</div>
				</div>
			</div> -->
			<div class="col-md-3 mb-4">
				<div class="wrapper">
					<div class="card">
						<img src="/media/{{location.image}}"  alt="{{location.title}}" />
						<div class="info">
							<h1>{{location.title}}</h1>
							<!-- <p>t is a long established fact that a reader will be distracted by
								the readable content of a page  </p> -->
							<a href="/location-event-list/{{location.id}}" class="btn"> Explore <i class="bi bi-binoculars-fill"></i> </a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		{% endif %}
	</div>
</main>
{% endblock %}